body {
    background-color: #141414;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #222;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
}

nav a {
    color: #e50914;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

h1 {
    font-size: 35px;
}